<h1>Tournaments#registration</h1>
<p>Find me in app/views/tournaments/registration.html.erb</p>

<p>Need to create a fencer object that belongs to a tournament</p>
<p>Create a table that displays these fencers</p>
<p>Add the ability to create new fencers on the fly</p>