home
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					<%= @username %>
				</h2>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
			<div class="row">
				<table class="table table-striped">
					<tr>
						<td>Choco Therapy</td>
						<td>Senior</td>
						<td>Men</td>
						<td>Epee</td>
						<td>Individual</td>
						<td>10/11/16</td>
						<td><a class="btn btn-primary" href="#">Edit</a></td>
					</tr>
					<tr>
						<td>Choco Therapy</td>
						<td>Senior</td>
						<td>Men</td>
						<td>Foil</td>
						<td>Individual</td>
						<td>10/11/16</td>
						<td><a class="btn btn-primary" href="#">Edit</a></td>
					</tr>
					<tr>
						<td>Choco Therapy</td>
						<td>Senior</td>
						<td>Men</td>
						<td>Sabre</td>
						<td>Individual</td>
						<td>10/11/16</td>
						<td><a class="btn btn-primary" href="#">Edit</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>